.DS_Store
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules/
*.tsbuildinfo
.build/

shell-desktop/dist/
shell-desktop/lib/
shell-desktop-beta/dist/
shell-desktop-beta/lib/
dsh-community-market/lib/
dsh-community-fabric/lib/

.env.yarn